<div id = "hamburger" onclick = "menuToggle();"></div>
<div class="menu" >
  <ul>
    <li><%= link_to 'Discover Movies', discover_path %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Github Repo', 'https://github.com/chsweet/viewing_party' %></li>
    <li><%= link_to "Carina's LinkedIn", 'https://www.linkedin.com/in/carina-h-sweet/' %></li>
    <li><%= link_to "Marla's LinkedIn", 'https://www.linkedin.com/in/marla-a-schulz/' %></li>
    <li><%= link_to 'Log Out', session_path(current_user.id), method: :delete %></li>
  </ul>
</div>

<h1>Welcome <%= current_user.email %>!</h1>

<h3>Viewing Party Details</h3>
<h4>Movie Title: <%= @movie.title %></h4>
<%= form_with model: @party, local: true do |form| %>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.hidden_field :movie, value: @movie.title %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.label :duration, 'Party Duration' %>
  <%= form.number_field :duration, value: @movie.runtime, id: :duration %>
  <%= form.label :date_time, 'Day & Start Time' %>
  <%= form.datetime_select :date_time, ampm: true, prompt: true, id: :date_time %>
  <%= form.label :invited, 'Include'%>
  <%= form.fields_for :invited do |invited_form| %>
    <% current_user.user_friends.each do |friend| %>
      <%= invited_form.check_box(friend.id) %>
      <%= invited_form.label(friend.id, "#{friend.email}") %>
    <% end %>
  <% end %>
  <%= form.submit 'Create Party' %>
<% end %>

<script src="/assets/menu.js"></script>
