<h1>Welcome <%= current_user.email %>!</h1>

<h3>Viewing Party Details</h3>
<h4>Movie Title: <%= @movie.title %></h4>
<%= form_with model: @party, local: true do |form| %>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.label :duration, 'Party Duration' %>
  <%= form.number_field :duration, value: @movie.runtime, id: :duration %>
  <%= form.label :date_time, 'Day & Start Time' %>
  <%= form.datetime_select :date_time, ampm: true, prompt: true, id: :date_time %>
  <%= form.label :invited, 'Include'%>
  <%= form.fields_for :invited do |invited_form| %>
    <% current_user.user_friends.each do |friend| %>
      <%= invited_form.check_box(friend.id) %>
      <%= invited_form.label(friend.id, "#{friend.email}") %>
    <% end %>
  <% end %>
  <%= form.submit 'Create Party' %>
<% end %>
