<h1>Welcome <%= @user.email %> </h1>

<%= link_to 'Find Top Rated Movies', movies_path %>

<%= form_with url: movies_path, local: true, method: :get do |f| %>
  <%= f.text_field :search, value: 'Search by movie title' %>
  <%= f.submit 'Find Movies' %>
<% end %>
