<h1>Welcome <%= current_user.email %>!</h1>

<%= link_to 'Find Top Rated Movies', "/movies" %>

<%= form_with url: movies_path, local: true, method: :get do |f| %>
  <%= f.text_field :search, value: 'Search by movie title' %>
  <%= f.submit 'Find Movies' %>
<% end %>

<table>
  <% @movies.each do |movie| %>
  <tr class = 'movie'>
    <td><%= link_to "#{movie.title}", "/movies/#{movie.id}"%></td>
    <td><p>Vote Average: <%= movie.vote_average %></p></td>
  </tr>
  <% end %>
</table>
