<div id = "hamburger" onclick = "menuToggle();"></div>
<div class="menu" >
  <ul>
    <li><%= link_to 'Discover Movies', discover_path %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Github Repo', 'https://github.com/chsweet/viewing_party' %></li>
    <li><%= link_to "Carina's LinkedIn", 'https://www.linkedin.com/in/carina-h-sweet/' %></li>
    <li><%= link_to "Marla's LinkedIn", 'https://www.linkedin.com/in/marla-a-schulz/' %></li>
    <li><%= link_to 'Log Out', session_path(current_user.id), method: :delete %></li>
  </ul>
</div>

<h1>Welcome <%= current_user.email %>!</h1>

<%= link_to 'Find Top Rated Movies', "/movies" %>

<%= form_with url: movies_path, local: true, method: :get do |f| %>
  <%= f.text_field :search, value: 'Search by movie title' %>
  <%= f.submit 'Find Movies' %>
<% end %>

<table>
  <% @movies.each do |movie| %>
  <tr class = 'movie'>
    <td><%= link_to "#{movie.title}", "/movies/#{movie.id}"%></td>
    <td><p>Vote Average: <%= movie.vote_average %></p></td>
  </tr>
  <% end %>
</table>

<script src="/assets/menu.js"></script>
