<div id = "hamburger" onclick = "menuToggle();"></div>
<div class="menu" >
  <ul>
    <li><%= link_to 'Discover Movies', discover_path %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Github Repo', 'https://github.com/chsweet/viewing_party' %></li>
    <li><%= link_to "Carina's LinkedIn", 'https://www.linkedin.com/in/carina-h-sweet/' %></li>
    <li><%= link_to "Marla's LinkedIn", 'https://www.linkedin.com/in/marla-a-schulz/' %></li>
    <li><%= link_to 'Log Out', session_path(current_user.id), method: :delete %></li>
  </ul>
</div>

<h2>Welcome <%= current_user.email %>!</h2>

<h1 class = 'title'><%= @movie.title %></h1>
<%= button_to 'Create Viewing Party for Movie', new_party_path, params: {movie_id: @movie.id}, method: :get, class: 'button' %>
<div class="row">
  <div class="col-3">
    <h3>Vote Average: <%= @movie.vote_average %> </h3>
  </div>
  <div class="col-3">
    <h3>Runtime: <%= @movie.hours %> hr <%= @movie.minutes %> min </h3>
  </div>
  <div class="col-6">
    <h3>Genre(s): <% @movie.genre_names.each do |genre| %>
        <%= genre %>
      <% end %></h3>
  </div>
</div>

<hr>

<h3>Summary</h3>
<p><%= @movie.summary %></p>
<br>
<h3>Cast</h3>
<% @actors.each do |actor| %>
  <p class = 'actor' ><%= actor.name %> as <%= actor.role %></p>
<% end %>
<hr>
<h3><%= @reviews.count %> Reviews</h3>
<% @reviews.each do |review| %>
  <h4>Author: <%= review.author %></h4>
  <p><%= review.content %></p>
<% end %>

<script src="/assets/menu.js"></script>
