<h1>Welcome to Viewing Party</h1>

<h3>Please Register for an Account</h3>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :email, 'Email:' %>
  <%= f.text_field :email, id: :email %>
  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password, id: :password %>
  <%= f.label :password_confirmation, 'Confirm Password:' %>
  <%= f.password_field :password_confirmation, id: :password_confirmation %>
  <%= f.submit 'Register' %>
<% end %>
