<div id = "hamburger" onclick = "menuToggle();"></div>
<div class="menu" >
  <ul>
    <li><%= link_to 'Discover Movies', discover_path %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Github Repo', 'https://github.com/chsweet/viewing_party' %></li>
    <li><%= link_to "Carina's LinkedIn", 'https://www.linkedin.com/in/carina-h-sweet/' %></li>
    <li><%= link_to "Marla's LinkedIn", 'https://www.linkedin.com/in/marla-a-schulz/' %></li>
    <li><%= link_to 'Log Out', session_path(current_user.id), method: :delete %></li>
  </ul>
</div>

<h1>Welcome <%= current_user.email %>!</h1>
<br>
<h3>Friends</h3>
<hr>
<section id="friends">
  <%= form_with model: @follow, local: true do |f|  %>
    <%= f.label :email, "Friend's E-mail" %>
    <%= f.text_field :email, id: :follow_email %>
    <%= f.submit 'Add Friend', class: 'button' %>
  <% end %>
  <br>
  <% if current_user.user_friends == [] %>
    <p>You currently have no friends.</p>
  <% else %>
    <% current_user.user_friends.each do |friend| %>
      <%= friend.email %>
    <% end %>
  <% end %>
</section>
<br>
<h3>Viewing Parties</h3>
<hr>
<% current_user.parties.each do |party| %>
  <section id="host_parties-<%= party.id %>">
    <%= link_to party.movie, movie_path(party.movie_id) %>
    <li><%= party.date_format %></li>
    <br>
    <li>Host: <%= party.user_email %></li>
    <br>
    <p>Attendees:</p>
    <% party.attendees.each do |attendee| %>
      <li><%= attendee.user_email %></li>
    <% end %>
  </section>
  <br>
<% end %>
<% current_user.invited_parties.each do |party| %>
  <section id="invited_parties-<%= party.id %>">
    <%= link_to party.movie, movie_path(party.movie_id) %>
    <li><%= party.date_format %></li>
    <br>
    <li>Host: <%= party.user_email %></li>
    <br>
    <p>Attendees:</p>
    <% party.attendees.each do |attendee| %>
      <li><%= attendee.user_email %></li>
    <% end %>
  </section>
  <br>
<% end %>

<script src="/assets/menu.js" defer></script>
